#container{
    height: 100px;
    width: 1520px;
    border: 1px solid black;
    display: flex;
    justify-content:space-between;
   align-items: center;
   gap: 10px;

}
#logo{
    
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#beech{

    display: flex;
    justify-content: center;
    text-decoration: none;

}
a{
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
   justify-content: center; 
   gap: 10px;
   list-style-type: none;
}
#button{
    height: 30px;
    width: 50px;
    border: 1px solid black;
    align-items: center;
    color: white;
    background-color: blue;
    text-align: center;
}
/* align items bhi dispaly k baad use kar sakte hai 
display ki property k baad gap bhi open hojati hai 
*/